body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.heading {
  text-align: center;
}

.table-wrapper {
  margin-top: 20px;
}

.ant-list-header {
  background: rgb(206, 90, 119);
}